/*
Author:Michelle Sherwin
Date:12/1/2025
File Name:styles.css
*/

/*CSS Reset*/
body,
header,
nav,
main,
footer,
img,
h1,
h2,
h3,
table,
ul,
section,
aside,
figure,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Logo in navigation area*/
img {
    max-width: 100%;
    display: block;
}

.cat {
    max-width: 20px;
}


nav {
    background-color: #020659;
    position: fixed;
    opacity: 75%;

}


.tab-desk,
#menu-links {
    display: none;
}


.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #020659;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 4em;
    color: #2685BF;
}


header h1 {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}


h2 {
    font-size: 2em;
    color: #2685BF;
    text-align: center;
}

h3 {
    font-size: 3em;
    color: #2685BF;
    text-align: center;
}

table {
    border: 1px solid #373684;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

th,
td {
    border: 1px solid #0D0D0D;
    padding: 2%;
    text-align: center;
    background-color: #77C7D9;
    font-weight: bolder;
}

/* Style rules for footer content */
footer {
    text-align: right;
    font-size: 0.65em;
    clear: left;
    background-color: #020659;
    color: #fff;
    display: block;
}

.company {
    text-align: center;
    display: block;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

/*Style rules for form*/
label {
    display: block;
    padding-top: 3%;
    justify-content: center;
}

#submit {
    margin: 0 auto;
    background-color: #2685BF;
    font-size: 1em;
    justify-content: left;
}

footer img {
    align-items: left;
    display: block;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px),
print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile,
    .mobile-nav {
        display: none;
    }


    /*Tablet Viewport: Style rules for nav area*/
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
    }


    nav li a {
        padding: .25em .5em;
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
    }

    /*Tablet viewport: Style rule for map*/
    .map {
        width: 500px;
        height: 450px;
    }

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 3em;
}


/*Media  Query for Desktop Viewpot*/
@media screen and (min-width:769px),
print {

    /*Desktop Viewport: Style rules for nav area*/
    nav li a {
        padding: .5em 1.5em;
    }

    nav li a:hover {
        color: #020659;
        background-color: #77C7D9;
        transform: scale(1.2)
    }
}

/*Media Query for Print*/
@media print {
    body {
        background-color: #fff;
        color: #0D0D0D;
    }
}